<!DOCTYPE html>

<html>

<head>
<title>About</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href="/img/02d.png">
</head>

<body>
    <div class="main-content">
      {{>header}}
    <img class="portrait" src="/img/suman.jpg" alt="">
    </div>
    
    {{>footer}}
</body>

</html>